.OnlineUerProfile{

}
.OnlineUerProfileWrapper{

}

.usersContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 1rem; */
}
.userName{
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 400;
}
.userImage{
   width: 12rem;
   height: 12rem;
   object-fit: cover;
   border-radius: 10px;
   display: block;
   margin-bottom: .5rem;
}