.rightBar {
  flex: 3;
  padding: 2rem;
  overflow-y: auto;
  height: calc(100vh - 55px);
}
.rightBarWrapper {
}
.birthDayContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.birhDayImage {
  width: 12%;
}
.birthDayText {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.4px;
}
.advertisementImage {
  width: 100%;
  border-radius: 10px;
  display: block;
  margin-bottom: 2rem;
}
.onlineTextLable{
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
}
.onlineFriends{
    list-style: none;
}
